# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
ENV/
env/
.venv/

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py

# Django migrations (optional – if you don’t want to version them at first)
*/migrations/__pycache__/
*/migrations/*.py

# Text & Excel files
*.txt
*.csv
*.xls
*.xlsx
*.eml

# IDEs and editors
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
